@charset "utf-8";
/********基本設定**********/
body{
    line-height:150%;
    font-size:18px;
}
img {
    image-rendering: -webkit-optimize-contrast;
    max-width:100%;
}
header{
    background:#000;
    padding:1.4rem 0;
    text-align:center;
}
section{text-align:center;}
footer{
    background:#ddd;
    padding:1rem 0;
    text-align:center;
    color:#000;
}
.container{
    padding:2rem 2rem 4rem;
    max-width:990px;
    width:100%;
    margin:0 auto;
    text-align:left;
}
.kanban-bg{
    background:url(../img/kanban-bg.jpg) no-repeat top right;
    background-color: hsl(50 33% 25% / 75%);
    background-size:cover;
}

.bg-blue{background:#094067;}
.bg-right-blue{background:#d8eefe;}
.f-white{color:#fff;}
.f-blue{color:#094067;}
.f-red{color:#ef4565;}
.what{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto;
    gap: 0;
    width: 600px;
    background-color: #fff;
    border-radius: 1rem;
    margin-bottom: 1.41rem;
    width: 100%;
}
.what dt {
    background-color: #d8eefe;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #094067;
    padding: 10px;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.05em;
    position: relative;
    font-size:1.8rem;
    font-family: nitalago-ruika, sans-serif;
}
.what dt span:before {
    content: "POINT";
    display: block;
    font-size: 45%;
    margin-bottom: 0.5em;
}
.what dt, .what dd {
    padding: 2em;
}
.what{box-shadow: 0 0 8px #eee;} 
.what dd .ttl{
    color: #094067;
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size:1.4rem;
}
.what dd .desc{
    font-size:1rem;
}
@media screen and (max-width: 480px) {
    .what {
        display: block;
    }
    .what dt {
        border-radius: 1rem 1rem 0 0;
        text-align: left;
    }
    .what dt span {
        font-size: 1.6rem;
        line-height: 1;
    }
    .what dt{padding:1rem 1.5em;}
    .what dd {
        padding: 1.5em;
    }
    .what dt:after {
        content: "";
        display: block;
        height: 1.41rem;
        width: 5px;
        background: #094067;
        position: absolute;
        top: -1.41rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .what dd .ttl{
        font-size:1.1rem;
    }
    .list-group li{font-size:14px;}
}
.card-header{color:#fff;font-weight:700;background:#094067;padding-right:40px;}
.card-header span:before{
    font: var(--fa-font-solid);
    content: "\f19d";
    position: relative;
    left:0;
}
.member-ship{padding:0;}
.member-ship li{
    background:#d8eefe;
    color:#094067;
    font-size: 32px;
    font-weight:700;
    font-family: "Hiragino Mincho Pro" , "HiraMinProN-W3" , "ヒラギノ明朝 Pro W3";
    margin-bottom:.5rem;
    padding:1.5rem 1rem;
}
@media screen and (max-width: 480px) {
    .member-ship li{
        font-size: 16px;
        margin-bottom:.5rem;
        padding:1rem .6rem;
    }
}
.mod_labelTxt {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    list-style:none;
}
.mod_labelTxt.grid {
    margin:1rem 0 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    
}
.mod_labelTxt.grid li {
    box-shadow: 0 0 8px #eee;
    height: 100%;
    place-content: center;
}
.mod_labelTxt li {
    background: #fff;
    padding: 2rem 1em;
    box-shadow: 0 0 5px #eee;
    border-radius: 16px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 3rem;
    line-height: 1.4;
    text-indent: -2rem;
}
.mod_labelTxt li span{
    background-color:#094067;
    color:#fff;
    font-size:1rem;
    padding:.4rem;
    border-radius: 6px;
    margin-right:.6rem;
}
.plus{
    text-align:center;
    font-weight:700;
    font-size:100px;
    padding:0 0 1.8rem;
    color:#094067;
}

@media screen and (max-width: 480px) {
    .mod_labelTxt.grid {
        display: flex;
        margin: 1.5rem 0;
        gap: 0;
    }
    .mod_labelTxt.grid li {
        border: none;
        border-bottom: 1px dashed #eee;
        border-radius: 0;
        padding-left: 3rem;
    }
    .mod_labelTxt.last1 li {
        border: none;
        border-bottom: 1px dashed #eee;
        border-radius: 0;
        padding-left: 3rem;
    }
    .mod_labelTxt.grid li:before {
        left: 0;
    }
    .mod_labelTxt li {
        border-radius: 0;
        font-size: 0.9rem;
        line-height: 1.2;
        padding: 1.6rem ;
      }
    .plus{
        font-size:50px;
        padding:0 0 1.8rem;
    }
.sp-flat{
    padding:0;
}
.sp-flat ul{
    padding:0;
}
}
.kessai{
    border:4px solid #094067;
    max-width:680px;
    width:92%;
    margin:0 auto;
    color:#094067;
}
.kessai p{background:#094067;color:#fff;font-weight:bold;padding:.4rem 0;}
.kessai .inner{}
.kessai .inner span{font-weight:700;font-size:1.4rem;}
.btn{
    width:92%;
    max-width:480px;
    padding:1rem 0;
    font-weight:700;
    border-bottom:4px solid #926b01;
}
.kiyaku{
    border:1px solid #ccc;
    width:92%;
    margin:0 auto;
    margin-top:.8rem;
    font-size:14px;
    height:80px;
}
@media screen and (max-width: 480px) {
    .kessai .inner{font-size:14px;}
}
/********見出し（H）設定**********/
h2{text-align:center;font-size: 60px;font-weight:700;font-family: "Hiragino Mincho Pro" , "HiraMinProN-W3" , "ヒラギノ明朝 Pro W3";}
@media screen and (max-width: 480px) {
    h2{font-size: 24px;}
    
}
/***********文字サイズ設定***********/
.size1{font-size:1.2rem;}
.size2{font-size:1.4rem;}
.size3{font-size:1.6rem;}
.size4{font-size:1.8rem;}
.size-1{font-size:1rem;}
.size-2{font-size:.6rem;}
.size-3{font-size:.4rem;}
.size-4{font-size:.2rem;}
@media screen and (max-width: 480px) {
    .size3{font-size:1.2rem;}
}
/***********文字装飾設定***********/
.bold{font-weight:bold;}
.u_line{text-decoration: underline;}
.red{color:#ff0000;}
.blue{color:#1601fd;}
.b_yellow{background-color:#fffd7e;}

/********フォーム設定**********/
.input_ml input{
    padding:.6rem;
    width:100%;
    max-width:480px;
}

.ms_box{
    background:#ffe8e6;
    padding:1rem;
    width:90%;
    max-width:520px;
    margin:0 auto;
    margin-bottom:1rem;
    color:#ff0000;
    font-size:1rem;
}

.nav-link{
    color:#000 !important;
    font-size:1rem;
}
.logo img{width:200px;}


.fv{display:block;}
.fv_sp{display:none;}
.pc_disp{display:block;}
.sp_disp{display:none;}
@media screen and (max-width: 480px) {
    .fv{display:none;}
    .fv_sp{display:block;padding:0 1rem;}
    .fv_sp img{width:100%;}
    .pc_disp{display:none;}
    .sp_disp{display:block;}
}